PORT =   //port del proyecto

DB_PORT =           // port de su conexión con la base de datos
DB_HOST =           // hostname de su conexión con la base de datos
DB_USER =           // username de su conexión con la base de datos
DB_PASSWORD =       // password de su conexión con la base de datos
DB_NAME =mi_tech_store