<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <!--iconos-->
    <!--Etiqueta Normalize CSS-->
    <link rel="stylesheet" href="/css/carrito.css"> <!--Etiqueta de conexión con su CSS-->
    <link rel="stylesheet" href="/css/styles.css"> <!-- etiqueta de las fuentes -->
    <link rel="stylesheet" href="/css/responsive/carritoResponsive.css">
    <title>Carrito</title>
</head>

<body>
    <!--Contenido HTML del Carrito - Inicio -->
    <main>
        <div class="titulo">
            <h3>Tu carrito</h3>
        </div>

        <article class="carritoProductos">
            <div class="listaTitulos">
                <h5 class="productoTitulo">
                    Producto
                </h5>
                <h5 class="cantidadTitulo">
                    Cantidad
                </h5>
                <h5 class="precioTitulo">
                    Precio
                </h5>
            </div>
            <div class="listaProductos">
                <!-- producto 1 -->
                <div class="producto">
                    <div class="imgProducto">
                        <img src="https://exitocol.vtexassets.com/arquivos/ids/15846857-800-auto?v=638055279731570000&width=800&height=auto&aspect=true"
                            alt="">
                    </div>
                    <div class="infoProducto">
                        <div class="TituloDescripcion">
                            <p class="titulo">Xiaomi Redmi Note 10 2022</p>
                            <p class="descripcion">128 GB / Azul / 4 GB ram</p>
                        </div>
                        <div class="CantidadPrecio">
                            <div class="cantidadProducto">
                                <button>
                                    1 unidad
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1" width="14px" height="8px" viewBox="-0.5 -0.5 14 8"
                                        content="&lt;mxfile host=&quot;app.diagrams.net&quot; modified=&quot;2023-02-02T00:29:58.472Z&quot; agent=&quot;5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36 OPR/94.0.0.0&quot; etag=&quot;a48Ybc1rIicF6FaPuOnU&quot; version=&quot;20.8.15&quot; type=&quot;device&quot;&gt;&lt;diagram name=&quot;Página-1&quot; id=&quot;ip25DtLCd1AsNNUi_eMX&quot;&gt;jVPJboMwEP0ajokAZ+uxoWl6aKpKUZWzgw1Y2Aw1JoF8fU0YNkWR6gPyvNmfHw4JVLXXNE8OwLh0fJdVDnlzfH9DXuy3AeoWWGyWLRBrwVrIG4CjuHEEXURLwXgxCTQA0oh8CoaQZTw0E4xqDddpWARy2jWnMX8AjiGVj+hJMJPgWv56wD+4iJOus7fChRXtgnGTIqEMriOI7BwSaADT3lQVcNlw1/HS5r0/8faDaZ6Z/yR8RbODSE/uT3Xbb8o0jOpfOcMqFypLXBiHNXXHQGKUtDfPIdsL10ZYbj7pmctvKIQRkFnfGYwBZQNk49jSMI01lBkLQIK+VyHR/YxqvEoRN7kGcov25LjWYLRIOEOjMBrSnnu/jc2b2VQVN5KbCyjWcyWKcG5LZH3KqLl7P9aD29oRePWURq9/HCtqDoobXdsQTFh0ykRB+0u0r4M8PGQxGSljhZpEPcZ94eHJ7AVfrTMHddx9o1+M7P4A&lt;/diagram&gt;&lt;/mxfile&gt;">
                                        <defs />
                                        <g>
                                            <path d="M 1 1 L 7 7 L 13 1" fill="none" stroke-width="2"
                                                stroke-miterlimit="10" pointer-events="all" />
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="precioProducto">
                                <p>$180</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- producto 2 -->
                <div class="producto">
                    <div class="imgProducto">
                        <img src="https://exitocol.vtexassets.com/arquivos/ids/15846857-800-auto?v=638055279731570000&width=800&height=auto&aspect=true"
                            alt="">
                    </div>
                    <div class="infoProducto">
                        <div class="TituloDescripcion">
                            <p class="titulo">Xiaomi Redmi Note 10 2022</p>
                            <p class="descripcion">128 GB / Azul / 4 GB ram</p>
                        </div>
                        <div class="CantidadPrecio">
                            <div class="cantidadProducto">
                                <button>
                                    1 unidad
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1" width="14px" height="8px" viewBox="-0.5 -0.5 14 8"
                                        content="&lt;mxfile host=&quot;app.diagrams.net&quot; modified=&quot;2023-02-02T00:29:58.472Z&quot; agent=&quot;5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36 OPR/94.0.0.0&quot; etag=&quot;a48Ybc1rIicF6FaPuOnU&quot; version=&quot;20.8.15&quot; type=&quot;device&quot;&gt;&lt;diagram name=&quot;Página-1&quot; id=&quot;ip25DtLCd1AsNNUi_eMX&quot;&gt;jVPJboMwEP0ajokAZ+uxoWl6aKpKUZWzgw1Y2Aw1JoF8fU0YNkWR6gPyvNmfHw4JVLXXNE8OwLh0fJdVDnlzfH9DXuy3AeoWWGyWLRBrwVrIG4CjuHEEXURLwXgxCTQA0oh8CoaQZTw0E4xqDddpWARy2jWnMX8AjiGVj+hJMJPgWv56wD+4iJOus7fChRXtgnGTIqEMriOI7BwSaADT3lQVcNlw1/HS5r0/8faDaZ6Z/yR8RbODSE/uT3Xbb8o0jOpfOcMqFypLXBiHNXXHQGKUtDfPIdsL10ZYbj7pmctvKIQRkFnfGYwBZQNk49jSMI01lBkLQIK+VyHR/YxqvEoRN7kGcov25LjWYLRIOEOjMBrSnnu/jc2b2VQVN5KbCyjWcyWKcG5LZH3KqLl7P9aD29oRePWURq9/HCtqDoobXdsQTFh0ykRB+0u0r4M8PGQxGSljhZpEPcZ94eHJ7AVfrTMHddx9o1+M7P4A&lt;/diagram&gt;&lt;/mxfile&gt;">
                                        <defs />
                                        <g>
                                            <path d="M 1 1 L 7 7 L 13 1" fill="none" stroke-width="2"
                                                stroke-miterlimit="10" pointer-events="all" />
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="precioProducto">
                                <p>$180</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listaFooter">
                <h5>2 artículos</h5>
                <h5>$Total</h5>
            </div>
        </article>
        <div class="opcionesDiv">
            <div class="opciones">
                <a href="#" class="seguir">Seguir comprando</a>
            </div>
            <div class="opciones">
                <button class="pagar">Pagar</button>
            </div>

        </div>
    </main>
    <!--Contenido HTML del Carrito - Fin -->
</body>

</html>