<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!--Etiqueta Normalize CSS-->
    <link rel="stylesheet" href="/css/footer.css"> <!--Etiqueta de conexión con su CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <!-- etiqueta para vincular los iconos -->
    <title>Footer</title>
</head>

<body>
    <!--HTML del Footer para todas las páginas - Inicio -->
    <footer>
        <div class="feedbackDiv">
            <h4>Atención al cliente</h4>

            <p>Preguntas frecuentes</p>

            <p>Chat en línea</p>
        </div>
        <div class="noticiasDiv">
            <h4>Newsletter</h4>
            <div class="emailInput">
                <input type="email" placeholder="dejanos tu email" name="emailInput" id="emailInput">
                <label for="emailInput">
                    <i class="fa-regular fa-envelope"></i>
                </label>
            </div>
        </div>
        <div class="redesSocialesDiv">
            <h4>Nuestras redes</h4>
            <div class="redesSocialesIcon">
                <i class="fa-brands fa-square-facebook"></i>

                <i class="fa-brands fa-twitter"></i>

                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </footer>
    <!--HTML del Footer para todas las páginas - Fin -->
</body>

</html>