<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <!--Etiqueta Normalize CSS-->
  <link rel="stylesheet" href="/css/header.css"> <!--Etiqueta de conexión con su CSS-->
  <script src="https://kit.fontawesome.com/e49cfd628c.js" crossorigin="anonymous"></script>

  <title>Header</title>
</head>

<body>
  <header class="main-header">
    <div class="encabezado">
      <p>Realizá compras en nuestras tienda online, recibí promociones y novedades<a href="#">¡SUSCRIBETE!</a>
      <p>
    </div>
    <div class="header-top-bar">
      <div class="logo-search-container">
        <div class="logo">
          <img src="/images/Logo_Blanco.png" alt="MiTechStore">
        </div>
        <div class="search-bar">
          <input type="text" placeholder="¿Que producto buscas?">
          <button class=><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
      <div class="opciones">
        <div class="whatsapp">
          <i class="fa-brands fa-whatsapp"></i>
          <p>+573006698669</p>
        </div>
        <div class="acceso">
          <p>Ingresar</p>
        </div>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <div class="carrito">
          <p>Carrito</p>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>
    <div class="conteiner-dropdown">
      <div class="dropdown-block">
        <ul>
          <li class="dropdown">
            <button class="dropbtn">Computadores</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
          <li class="dropdown">
            <button class="dropbtn">Celulares</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
          <li class="dropdown">
            <button class="dropbtn">Accesorios</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
          <li class="dropdown">
            <button class="dropbtn">Electrodomésticos</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
        </ul>
      </div>
    </div>


  </header>
</body>

</html>