<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <!--Etiqueta Normalize CSS-->
  <link rel="stylesheet" href="/css/header.css"> <!--Etiqueta de conexión con su CSS-->
  <script src="https://kit.fontawesome.com/e49cfd628c.js" crossorigin="anonymous"></script>

  <title>Header</title>
</head>

<body>
  <header class="main-header">
    <div class="encabezado">
      <p>Realizá compras en nuestras tienda online, recibí promociones y novedades<a href="#">¡SUSCRIBETE!</a>
      <p>
    </div>
    <div class="main-header-top-bar">
      <img src="/images/Logo_Blanco.png" class="logo2" srcset="">
      <form class="barra-de-busqueda">
        <input type="text" placeholder="¿Que producto buscas?" class="imput-search"></imput>
        <button type="submit" class="lupa">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div class="icons">

        <div class="whatsapp-icon">
          <i class="fa-brands fa-whatsapp"></i>
        </div>

        <div class="whatsapp">
          <p>+573006698669</p>
        </div>

        <div class="ingresar">
          <p">Ingresar</p>
        </div>

        <div class="burger-menu2">
          <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="carrito">
          <a href="#" class="carro-compras"></a>
          <p>Carrito</p>
          <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </div>
      </div>
    </div>
    </div>


    </div>
    <div class="encabezado-abajo">
      <p>¡Envíos gratis para productos seleccionados durante las proximas 24 horas!</p>
    </div>

    <div class="conteiner-dropdown">
      <div class="dropdown-block">
        <ul>
          <li class="dropdown">
            <button class="dropbtn">Computadores</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
          <li class="dropdown">
            <button class="dropbtn">Celulares</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
          <li class="dropdown">
            <button class="dropbtn">Accesorios</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
          <li class="dropdown">
            <button class="dropbtn">Electrodomésticos</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
        </ul>
      </div>
    </div>


  </header>
</body>

</html>