<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"> <!--Etiqueta Normalize CSS-->
    <link rel="stylesheet" href="/css/home.css"> <!--Etiqueta de conexión con su CSS-->
    <link rel="stylesheet" href="/css/styles.css"> <!--Etiqueta de conexión a Estilos Generales-->

    <title>Home</title>
</head>
<body>
    <!--Contenido HTML del Home - Inicio -->
    <main>
        <h1>Lorem ipsum dolor sit</h1>
        <h2>Lorem ipsum dolor sit</h2>
        <h3>Lorem ipsum dolor sit</h3>
        <h4>Lorem ipsum dolor sit</h4>
        <h5>Lorem ipsum dolor sit</h5>
        <h6>Lorem ipsum dolor sit</h6>
        <p>Lorem ipsum dolor sit</p>
        
    </main>
    <!--Contenido HTML del Home - Fin -->
</body>
</html>