<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"> <!--Etiqueta Normalize CSS-->
    <link rel="stylesheet" href="/css/home.css"> <!--Etiqueta de conexión con su CSS-->
    <link rel="stylesheet" href="/css/styles.css"> <!--Etiqueta de conexión a Estilos Generales-->

    <title>Home</title>
</head>
<body>
    <!--Contenido HTML del Home - Inicio -->
    <main>
        <!-- Carrusel de Banners  -->
        <section id="carrusel">
            <div class="slideshow-container">

                <!-- Imágenes de Carrusel  -->
                <div class="mySlides fade"><img src="/images/home/banner_home_1.jpg" style="width:100%"></div>
                <div class="mySlides fade"><img src="/images/home/banner_home_2.jpg" style="width:100%"></div>
                <div class="mySlides fade"><img src="/images/home/banner_home_3.jpg" style="width:100%"></div>
                <div class="mySlides fade"><img src="/images/home/banner_home_4.jpg" style="width:100%"></div>
                <div class="mySlides fade"><img src="/images/home/banner_home_5.jpg" style="width:100%"></div>
            
                <!-- Flechas Carrusel -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            
            <!-- Circulos bajo el carrusel -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
            </div>
        </section>

        <!-- Productos Home -->
        <section class="productos_home">
            <!-- Seccion Novedades -->
            <section class="secciones">
                <h4>Novedades</h4>
                <div class="fila_productos" id="fila1">
                    <!-- Producto 1: Redmi Note 10 -->
                    <div class="producto">
                        <div class="imagen_producto">
                            <img src="/images/home/Redmi_10_2022_128GB_Azul.jpg" alt="Redmi10">
                        </div>
                        <div class="titulo_producto"><h3>Redmi 10 - 2022</h3></div>
                        <div class="descripcion_producto"><p>Celular Xiaomi Redmi 10 - 2022 de 128GB Azul con cámara de 50MP</p></div>
                        <div class="precio_descuento">
                            <div class="precio_producto"><span>$180</span></div>
                            <div class="descuento_producto"><span>20% OFF</span></div>
                        </div>
                    </div>
                    <!-- Producto 2: Redmi Note 11 -->
                    <div class="producto">
                        <div class="imagen_producto">
                            <img src="/images/home/Redmi_Note_11.jpg" alt="Redmi Note 11">
                        </div>
                        <div class="titulo_producto"><h3>Redmi Note 11</h3></div>
                        <div class="descripcion_producto"><p>Celular Xiaomi Redmi Note 11 de 128GB y 4GB de Ram con cámara cuádruple de 50MP</p></div>
                        <div class="precio_descuento">
                            <div class="precio_producto"><span>$201</span></div>
                            <div class="descuento_producto"><span>35% OFF</span></div>
                        </div>
                    </div>
                    <!-- Producto 3: Xiaomi 12 -->
                    <div class="producto">
                        <div class="imagen_producto">
                            <img src="/images/home/Redmi_10_2022_128GB_Azul.jpg" alt="Redmi10">
                        </div>
                        <div class="titulo_producto"><h3>Redmi 10 - 2022</h3></div>
                        <div class="descripcion_producto"><p>Celular Xiaomi Redmi 10 - 2022 de 128GB Azul con cámara de 50MP</p></div>
                        <div class="precio_descuento">
                            <div class="precio_producto"><span>$500</span></div>
                            <div class="descuento_producto"><span>40% OFF</span></div>
                        </div>
                    </div>
                    <!-- Producto 4 -->
                    <div class="producto">
                        <div class="imagen_producto">
                            <img src="/images/home/Redmi_10_2022_128GB_Azul.jpg" alt="Redmi10">
                        </div>
                        <div class="titulo_producto"><h3>Redmi 10 - 2022</h3></div>
                        <div class="descripcion_producto"><p>Celular Xiaomi Redmi 10 - 2022 de 128GB Azul con cámara de 50MP</p></div>
                        <div class="precio_descuento">
                            <div class="precio_producto"><span>$500</span></div>
                            <div class="descuento_producto"><span>40% OFF</span></div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Seccion Envíos Gratis -->
            <section class="secciones">
                <h4>Envíos Gratis</h4>
                <div class="fila_productos" id="fila1">
                    <!-- Producto 1 -->
                    <div class="producto">
                        <div class="imagen_producto">
                            <img src="/images/home/Redmi_10_2022_128GB_Azul.jpg" alt="Redmi10">
                        </div>
                        <div class="titulo_producto"><h3>Redmi 10 - 2022</h3></div>
                        <div class="descripcion_producto"><p>Celular Xiaomi Redmi 10 - 2022 de 128GB Azul con cámara de 50MP</p></div>
                        <div class="precio_descuento">
                            <div class="precio_producto"><span>$500</span></div>
                            <div class="descuento_producto"><span>40% OFF</span></div>
                        </div>
                    </div>
                    <!-- Producto 2 -->
                    <div class="producto">
                        <div class="imagen_producto">
                            <img src="/images/home/Redmi_10_2022_128GB_Azul.jpg" alt="Redmi10">
                        </div>
                        <div class="titulo_producto"><h3>Redmi 10 - 2022</h3></div>
                        <div class="descripcion_producto"><p>Celular Xiaomi Redmi 10 - 2022 de 128GB Azul con cámara de 50MP</p></div>
                        <div class="precio_descuento">
                            <div class="precio_producto"><span>$500</span></div>
                            <div class="descuento_producto"><span>40% OFF</span></div>
                        </div>
                    </div>
                    <!-- Producto 3 -->
                    <div class="producto">
                        <div class="imagen_producto">
                            <img src="/images/home/Redmi_10_2022_128GB_Azul.jpg" alt="Redmi10">
                        </div>
                        <div class="titulo_producto"><h3>Redmi 10 - 2022</h3></div>
                        <div class="descripcion_producto"><p>Celular Xiaomi Redmi 10 - 2022 de 128GB Azul con cámara de 50MP</p></div>
                        <div class="precio_descuento">
                            <div class="precio_producto"><span>$500</span></div>
                            <div class="descuento_producto"><span>40% OFF</span></div>
                        </div>
                    </div>
                    <!-- Producto 4 -->
                    <div class="producto">
                        <div class="imagen_producto">
                            <img src="/images/home/Redmi_10_2022_128GB_Azul.jpg" alt="Redmi10">
                        </div>
                        <div class="titulo_producto"><h3>Redmi 10 - 2022</h3></div>
                        <div class="descripcion_producto"><p>Celular Xiaomi Redmi 10 - 2022 de 128GB Azul con cámara de 50MP</p></div>
                        <div class="precio_descuento">
                            <div class="precio_producto"><span>$500</span></div>
                            <div class="descuento_producto"><span>40% OFF</span></div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <!--Contenido HTML del Home - Fin -->

    <!-- Script para carrusel de banner -->
    <script src="/js/carrusel_home.js"></script>
</body>
</html>