<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"> <!--Etiqueta Normalize CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css"> <!--Etiqueta de conexión con su CSS-->
 
    <title>Login</title>
</head>
<body>

    <main>
        
        <div class="contenedorh3">

            <h3>Iniciar sesión</h3>

        </div>

        <div class="contenedorInputs">
            
            
                 <input type="email"  placeholder="Correo electrónico">
            
                 <input type="password"  placeholder="Contraseña">
            

        </div>

        <div class="contenedorOlvidaste">

           <a href="">¿Olvidaste tu contraseña? Haz click aquí</a> 

        </div>
        <div class="contenedor-checkbox">
            <input type="checkbox" class="checkbox"> Recordarme
        </div>
    
        <div class="contenedorButton">
            <button>Iniciar sesión</button>
        </div>

        <div class="contenedorNoTienes">

             <a href="">¿No tienes una cuenta? Crea una aquí</a> 

        </div>
    </main>
    
</body>
</html>