<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"> <!--Etiqueta Normalize CSS-->
    <link rel="stylesheet" href="/css/login.css"> <!--Etiqueta de conexión con su CSS-->
    <link rel="stylesheet" href="/css/styles.css">
 
    <title>Login</title>
</head>
<body>
 
    <main>
        <div class="contenedorh1">
                 <h1>INICIAR SESIÓN</h1>
        </div>


        <div class="contenedorInputs">
            
            <div>
                 <input type="email" class="email" placeholder="Correo electronico">
            </div>
        
        
            <div>
                <input type="password"  class="pass" placeholder="Contraseña">
            </div>

        </div>

        <div class="contenedorOlvidaste">

            <h4>¿Olvidaste tu contraseña? Haz click aquí</h4>

        </div>
    
        <div>
            <button class="contenedorButton">Iniciar sesión</button>
        </div>

        <div class="contenedorNoTienes">

            <h4>¿No tienes una cuenta? Crea una aquí</h4>

        </div>
    </main>
    
</body>
</html>