<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!--Etiqueta Normalize CSS-->
    <link rel="stylesheet" href="/css/registro.css"> <!--Etiqueta de conexión con su CSS-->
    <title>Registro</title>
</head>

<body>
    <!--Contenido HTML de Registro - Inicio -->
    <main>
        <h3>Crear cuenta</h3>
        <div class="main-container">
            <input type="text" placeholder="Nombre" name="" id="">
            <input type="text" placeholder="Apellido" name="" id="">
            <input type="email" placeholder="Correo electrónico" name="" id="">
            <input type="password" placeholder="Contraseña" name="" id="">
            <input type="password" placeholder="Confirmar contraseña" name="" id="">
            <input type="text" placeholder="Pais" name="" id="">
            <input type="text" placeholder="Provincia / Región" name="" id="">
            <input type="text" placeholder="Ciudad" name="" id="">
            <input type="number" placeholder="Código postal" name="" id="">
            <input type="text" placeholder="Dirección" name="" id="">
            <input type="number" placeholder="Número de teléfono" name="" id="">
        </div>
        <div id="create-account-button">
            <button id="create-account-button">Crear</button>
        </div>
        <div class="link-inicio-sesion">
            <a href="">¿Ya tienes una cuenta? Inicia sesión aquí</a>
        </div>
    </main>
    <!--Contenido HTML del Registro - Fin -->
</body>

</html>