* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 30px auto;
    width: 90vw;
}

div.titulo {
    text-align: center;
}

div.imgProducto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.imgProducto {
    width: 100px;
    height: 100px;
}

div.producto {
    display: flex;
    align-items: stretch;
}

div.infoProducto2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

div.infoProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.infoProducto div.tituloProducto p{
    font-weight: bold;
}

div.infoProducto2 div.cantidadProducto button{
    background: none;    
    border: solid 1px black;
    width: 90px;
    height: 30px;
    border-radius: 5px;
}