* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: auto;
    width: 90vw;
}

div.titulo {
    text-align: center;
}

div.imgProducto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.imgProducto {
    width: 100px;
    height: 100px;
}

div.producto {
    display: flex;
}

div.infoProducto2 {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

div.infoProducto2 div.cantidadProducto button{
    background: none;    
    border: solid 1px black;
    width: 90px;
    height: 30px;
    border-radius: 5px;
}