@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

footer {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #c3c3c3;
    padding: 40px 0;
}

div.noticiasDiv {
    display: none;
}

div.emailInput input {
    width: 90%;
    text-align: center;
    padding: 4px 0;
}

div.emailInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

div.feedbackDiv {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

div.redesSocialesDiv {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

div.redesSocialesDiv div.redesSocialesIcon {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

svg.icons{
    width: 30px;
    height: 30px;
}

/* tablets */
@media(min-width:768px) {
    div.noticiasDiv{
        display: flex;
        flex-grow: 0.2;
        flex-direction: column;
        gap: 8px;
    }

    div.noticiasDiv div.emailInput label i.fa-envelope{
        font-size: 1.5em;
    }
}

/* desktop */
@media(min-width:1024px) {
    footer{
        padding: 40px 60px;
    }
}