main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.titulo-producto-mobile {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #FF6700
}

.titulo-producto-desktop {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #FF6700;
    display: none;
}

.imagen-producto {
    display: block;
    width: 100%;
    margin: auto;
}

.imagen-producto img {
    width: 100%;
}

.product-cost-box {
    width: 100%;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 10px;
    position: relative;
}

p {
    margin-top: 11px;
    margin-bottom: 11px;
}

.precio {
    font-weight: bold;
    font-size: 22px;
    margin-right: 9px;
}

.cuotas {
    color: #00a650;
    font-weight: 600;
}

label {
    font-family: 'Raleway', sans-serif;
}

select {
    font-family: 'Raleway', sans-serif;
    padding: 3px;
    border: solid rgb(197 194 194) 1px;
    border-radius: 5px;
    margin-right: 15px;
}

#truck {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    box-sizing: border-box;
}

.envio {
    display: none;
    color: #39b54a;
    font-weight: 600;
}

.comprar {
    width: 100%;
    margin-top: 10px;
    border: solid rgb(197 194 194) 1px;
    border-left: none;
    border-right: none;
    font-family: 'Raleway', sans-serif;
    background-color: #FF6700;
    color: white;
    padding: 22px 0px;
    font-size: 18px;
}

.product-caract-box,
.product-descr-box {
    margin-top: 10px;
    width: 100%;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 10px;
    color: gray;
}

li {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.subtitle-descripcion,
.subtitle-caracteristicas {
    margin-top: 8px;
}

@media (min-width: 769px) {
    main {
        background-color: rgb(230, 227, 227);
        padding-left: 5%;
        padding-right: 5%;
    }

    .main-section {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    .imagen-producto {
        width: 59%;
    }

    .right-box {
        width: 41%;
        background-color: white;
        padding: 15px;
    }

    .main-top-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-cost-box {
        border-top: none;
        padding: 0;
    }

    .titulo-producto-mobile {
        display: none;
    }

    .titulo-producto-desktop {
        display: block;
    }

    .precio {
        font-size: 26px;
        display: inline-block;
    }

    .cuotas {
        display: inline-block;
    }

    .product-caract-box {
        background-color: white;
        border-left: solid 1px gray;
        border-right: solid 1px gray;
    }

    .subtitle-caracteristicas {
        text-align: center;
    }

    #truck {
        display: none;
    }

    .envio {
        display: block;
    }

    select {
        margin-right: 24px;
    }

    .product-descr-box {
        border-bottom: none;
        padding: 0;
    }

    .product-descr-box p {
        line-height: 22px;
    }

    .comprar {
        width: 40%;
        padding: 15px 0px;
        font-size: 15px;
    }
}

@media (min-width: 1025px) {
    .precio {
        font-size: 28px;
        margin-right: 20px;
    }

    .cuotas {
        margin-right: 45px;
    }

    .imagen-producto {
        width: 60%;
    }

    .right-box {
        width: 40%;
        height: 580px;
        margin-top: 50px;
    }

    p {
        font-size: 17px;
    }

    li {
        font-size: 17px;
    }

    .comprar {
        font-size: 17px;
    }
}