main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.titulo-producto-mobile {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #FF6700
}

.titulo-producto-desktop {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #FF6700;
    display: none;
}

.imagen-producto {
    display: block;
    width: 100%;
    margin: auto;
}

.product-cost-box {
    width: 100%;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 15px 20px 15px 20px;
    position: relative;
}

p {
    margin-top: 11px;
    margin-bottom: 11px;
}

.precio {
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
}

.cuotas {
    color: #00a650;
    font-weight: 600;
}

.label-color {
    font-family: 'Raleway', sans-serif;
}

.select-color {
    font-family: 'Raleway', sans-serif;
    padding: 3px;
    border: solid rgb(197 194 194) 1px;
    border-radius: 5px;
}

#truck {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    box-sizing: border-box;
}

.envio {
    display: none;
    color: #39b54a;
    font-weight: 600;
}

.comprar {
    width: 100%;
    margin-top: 10px;
    border: solid rgb(197 194 194) 1px;
    border-left: none;
    border-right: none;
    font-family: 'Raleway', sans-serif;
    background-color: #FF6700;
    color: white;
    padding: 22px 0px;
    font-size: 18px;
}

.product-caract-box,
.product-descr-box {
    margin-top: 10px;
    width: 100%;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 15px 20px 15px 20px;
    color: gray;
}

.product-descr-box {
    text-align: justify;
}

li {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.subtitle-descripcion,
.subtitle-caracteristicas {
    margin-top: 10px;
}

/* ---------------------Estilos Carrusel -- Inicio */
#carrusel {
    width: 100%;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

/* Ocultar imagenes por defecto */
.mySlides {
    display: none;
}

/* Flechas siguiente y atras */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 16px;
    color: #FF6700;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px 0 0 5px;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 0 5px 5px 0;
}

/* Animaciones */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* ------------ Estilos Carrusel -- Fin */

@media (min-width: 769px) {
    main {
        background-color: rgb(230, 227, 227);
        padding-left: 5%;
        padding-right: 5%;
    }

    .main-section {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    #carrusel {
        width: 59%;
    }

    .right-box {
        width: 41%;
        background-color: white;
        padding: 20px;
        height: fit-content;
    }

    .main-top-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-cost-box {
        border-top: none;
        padding: 0;
    }

    .titulo-producto-mobile {
        display: none;
    }

    .titulo-producto-desktop {
        display: block;
    }

    .precio {
        font-size: 26px;
        display: inline-block;
    }

    .cuotas {
        display: inline-block;
    }

    .product-caract-box {
        background-color: white;
        border-left: solid 1px gray;
        border-right: solid 1px gray;
    }

    .subtitle-caracteristicas {
        text-align: center;
    }

    #truck {
        display: none;
    }

    .envio {
        display: block;
    }

    .color {
        display: inline-block;
        margin-right: 15px;
    }

    .product-descr-box {
        border-bottom: none;
        padding: 0;
    }

    .product-descr-box p {
        line-height: 22px;
    }

    .comprar {
        width: 40%;
        padding: 15px 0px;
        font-size: 15px;
    }

    .prev {
        margin-left: 10px;
    }

    .next {
        margin-right: 10px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgb(255, 255, 255);
    }
}

@media (min-width: 1025px) {
    .precio {
        font-size: 28px;
        margin-right: 20px;
    }

    .cuotas {
        margin-right: 45px;
    }

    #carrusel {
        width: 60%;
    }

    .right-box {
        width: 40%;
        margin-top: 50px;
    }

    p {
        font-size: 19px;
    }

    li {
        font-size: 17px;
    }

    .comprar {
        font-size: 17px;
    }
}