.sidepanel {
    background-color: #FF6700;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 20px 0px;
    color: white;
}

.sidepanel .logo {
    width: 80%;
    margin-bottom: 30px;
}

.sidepanel .icon {
    width: 20px;
    margin-right: 10px;
}

.sidepanel .menu-button {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    padding: 15px 30px;
    background-color: #FF8A35;
    border:none;
    color: white;
    font-size: 1em;
    margin-bottom: 15px;
}

.sidepanel hr {
    width: 180px;
    border-style: double;
    margin: 5px 0px 20px 0px;
}

.link-button {
    width: 80%;
}

.sidepanel a {
    text-decoration: none;
}