.general-container {
    margin-left: 50px;
}

.general-container .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.general-container .title .icon {
    width: 40px;
    margin-right: 10px;
}