main {
    background-color: #ebebeb;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

p.error {
    text-align: center;
    color: red;
    font-weight: 700;
    margin-bottom: 20px;
}

.is-invalid {
    box-shadow: rgb(250, 2, 2) 0px 0px 5px;
    border-color: red;
    border-width: 1px;
}

.valid {
    box-shadow: rgb(10, 250, 2) 0px 0px 5px;
    border-color: green;
    border-width: 1px;
}

form.create-product-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0px;
}

h3.titulo {
    color: #FF6700;
    text-align: center;
    margin: 50px 0px;
}

.input {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    border: solid rgb(197 194 194) 1px;
    font-family: 'Raleway', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3px;
    transition: all 300ms;
}

.precio {
    width: 38%;
}

.propiedades {
    width: 100%;
    display: flex;
    gap: 26px 45px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input::placeholder {
    font-family: 'Raleway', sans-serif;
    color: rgb(199, 197, 197);
    padding-left: 2px;
}

.perfil {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.label {
    font-weight: bold;
    align-self: flex-start;
    font-family: 'Raleway', sans-serif;
}

.colores {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    align-self: flex-start;
}

.caracteristicasTitle {
    align-self: flex-start;
}

.especificaciones {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: flex-start;
    margin-left: 25px;
    margin-bottom: 10px;
    gap: 20px 0px;
}

.especificacion {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.especificacion label {
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 5px;
    align-self: flex-start;
    font-family: 'Raleway', sans-serif;
}

select {
    font-family: 'Raleway', sans-serif;
    padding: 8px;
    border: solid rgb(197 194 194) 1px;
    border-radius: 5px;
    margin-top: 5px;
}

.propiedades div.categorias {
    width: 38%;
}

.propiedades div.categorias select {
    width: 100%;
}

.precio input {
    margin-top: 5px;
}

.descripcion {
    width: 100%;
}

textarea {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border: 1px lightgray solid;
}

.buttons {
    margin-top: 30px;
    width: 100%;
}

.buttons button {
    background-color: #FF6700;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    transition: all 400ms;
}

textarea {
    border-radius: 5px;
    margin-top: 8px;
}

.error {
    text-align: center;
    color: red;
    font-weight: 700;
    margin: 8px 0px;
}

.is-invalid {
    border-color: red;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(250, 2, 2);
}

.nombre-producto {
width: 100%;
}

.nombre-producto input {
    margin-top: 8px;
}

@media (min-width: 481px) {

    form.create-product-form {
        max-width: 500px;
        margin: auto;
    }
}

@media (min-width: 769px) {
    .propiedades {
        display: flex;
        gap: 30px 100px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .colores {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-self: flex-start;
    }

    input::placeholder {
        font-size: 18px;
    }

    .label {
        font-size: 18px;
    }

    .create-button:hover {
        background-color: gray;
        cursor: pointer;
    }

    .delete-button:hover {
        cursor: pointer;
        background-color: rgb(167, 10, 10);
    }

    textarea {
        font-size: 18px;
    }

    .talle {
        width: 50%;
    }

    .categorias select {
        font-size: 18px;
        padding: 4px;
    }
}