body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 238, 238);
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}
/*TITULO*/
.contenedorh3{
    margin-top: 60px;
    margin-bottom: 40px;


}

.contenedorh3 h3{
   color: #FF6700;
   
}

/*INPUTS*/
.form{
    display: flex;
    flex-direction: column;
    gap: 11px 0px;
    width: 100%;
    align-items: center;
    

}

.input{
    border-radius: 5px;
    height: 35px;
    width: 75%;
    border: solid rgb(197 194 194) 1px;
    font-family: 'Raleway', sans-serif;
    padding: 3px; 
}

.input::placeholder {
    color: rgb(207, 204, 204);
    font-family: 'Raleway', sans-serif;
    padding-left: 2px;
}
/*Olvidaste tu contraseña*/
.contenedorOlvidaste{
    margin-top: 5px;
}

.contenedorOlvidaste a{
    font-family: 'Raleway', sans-serif;
    color: rgb(54, 104, 241);
}

.contenedor-checkbox{
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.checkbox{
    margin-right: 8px;
}
/*Button*/
.contenedorButton{
    margin-top: 30px;
}

.contenedorButton button{
    background-color: #FF6700;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
    transition: all 400ms;
}

/*No tienes cuenta*/
.contenedorNoTienes{
    margin-top: 15px;
    margin-bottom: 50px;
}

.contenedorNoTienes a{
    font-family: 'Raleway', sans-serif;
    color: rgb(54, 104, 241);
}

.error {
    color: red;
    font-weight: 700;
    margin-bottom: 20px;
}

.is-invalid {
    border-color: red;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(250, 2, 2);
}

@media (min-width: 481px) {
    .input {
        max-width: 470px;
    }
}
@media (min-width: 769px) {

.input::placeholder {
font-size: 18px;
 }

 .contenedorButton button:hover{
    background-color: gray;
    cursor: pointer;
}

.contenedor-checkbox{
    font-size: 18px;
}
}