* {
    font-family: sans-serif;
}

p {
    font-size: 17px;
}

body {
    background-color: #ccc;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    margin: 30px 30px;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 40px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 15px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.data-user-info-label {
    font-size: 20px;
    font-weight: 800;
}

.profile-picture {
    margin: auto;
    display: flex;
    border-radius: 100%;
    width: 150px;
}

.user-name {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.work-text {
    text-align: center;
    font-size: 18px;
    margin: 3px 5px;
}

.address-text {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    margin: 10px 0;
}

.data-user-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px 0;
    border-bottom: 1px solid #ededed;
}

.btn-update {
    padding: 10px 30px;
    background-color: #3483fa;
    color: #fff;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin: 12px 0;
}

.btn-update:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.user-option {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.user-option form button {
    padding: 10px 12px;
    background-color: red;
    color: #fff;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

@media (min-width: 769px) {
    .profile-container {
        flex-direction: row;
    }
    .data-user-info {
        flex-direction: row;
    }
    .user-container {
        align-self: flex-start;
        max-width: 300px;
    }
    .data-container {
        max-width: 600px;
    }
}

