<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/listaDeProducto.css">
    <!-- Fuente Raleway-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <!-- Fuente Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Celulares</title>
</head>

<body>
    <!-- Seccion de header -->
    <header class="main-header">
        <div class="encabezado">
            <p>Realizá compras en nuestras tienda online, recibí promociones y novedades <a href="/user/register"
                    style="color:blue;">¡Registrate!</a></p>
        </div>
        <div class="header-top-bar">
            <div class="logo-search-container">
                <div class="logo">
                    <a href="/"><img src="/images/Logo_Blanco.png" alt="MiTechStore"></a>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="¿Que producto buscas?">
                    <button class=><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <nav class="opciones">
                    <ul>
                        <li class="main-header-navbar-element"><a href="#"><i class="fa-brands fa-whatsapp"></i>
                                +573006698669
                            </a></li>
                        <li class="main-header-navbar-element"><a href="/user/login">Ingresar</a></li>
                        <li class="main-header-navbar-element"><a href="/product/cart">Carrito <i
                                    class="fa-solid fa-cart-shopping"></i></a></li>
                        <li class="main-header-navbar-element"><a href="/admin/">Crear producto <i
                                    class="fa-solid fa-square-plus"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="ad-text">
                <p>Realizá compras en nuestras tienda online, recibí promociones y novedades ¡Registrate!</p>
            </div>
            <div class="burguer-menu">
                <button><i class="fas fa-bars"></i></button>
            </div>
        </div>
        </div>
        <nav class="categorias-navbar">
            <ul>
                <li class="categoria">Computadoras
                    <div class="categoria-desplegable">
                        <a href="#">Subcategoria 1</a>
                        <a href="#">Subcategoria 2</a>
                        <a href="#">Subcategoria 3</a>
                        <a href="#">Subcategoria 4</a>
                    </div>
                </li>
                <li class="categoria">Celulares
                    <div class="categoria-desplegable">
                        <a href="#">Subcategoria 1</a>
                        <a href="#">Subcategoria 2</a>
                        <a href="#">Subcategoria 3</a>
                        <a href="#">Subcategoria 4</a>
                    </div>
                </li>
                <li class="categoria">Accesorios
                    <div class="categoria-desplegable">
                        <a href="#">Subcategoria 1</a>
                        <a href="#">Subcategoria 2</a>
                        <a href="#">Subcategoria 3</a>
                        <a href="#">Subcategoria 4</a>
                    </div>
                </li>
                <li class="categoria">Electrodomésticos
                    <div class="categoria-desplegable">
                        <a href="#">Subcategoria 1</a>
                        <a href="#">Subcategoria 2</a>
                        <a href="#">Subcategoria 3</a>
                        <a href="#">Subcategoria 4</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- fin header -->
    <section>
        <div class="conteiner-h1">
            <h1>Celulares</h1>
        </div>
    </section>

    <div class="filtro">
        <form>
            <label>Buscar</label>
            <input type="search" placeholder="Escribe aqui"></input>
            <label>Filtrar por</label>
            <select class="filtrar-por" name="fitro">
                <option value="menor-precio">Menor precio</option>
                <option value="mayor-precio">Mayor precio</option>
                <option value="A-Z">A-Z</option>
                <option value="Z-A">Z-A</option>
            </select>
        </form>
    </div>
    <main>
        <!-- Seccion de producto -->
        <section class="productos">
            <!-- Primer celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                    <div class="conteiner-imagen-producto">
                        <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                    </div>

                    <div class="titulo-producto">
                        <h3>Redmi 10 - 2022</h3>
                    </div>

                    <div class="precio-descuento">

                        <div class="precio-producto">
                            <span>$180</span>
                        </div>

                        <div class="descuento-producto">
                            <span>20% OFF</span>
                        </div>
                    </div>

                    <div class="descripcion-producto">
                        <a href="">Ir al producto</a>
                    </div>
                </a>
            </div>
            <!-- Segundo celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                    <div class="conteiner-imagen-producto">
                        <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                    </div>

                    <div class="titulo-producto">
                        <h3>Redmi 10 - 2022</h3>
                    </div>

                    <div class="precio-descuento">

                        <div class="precio-producto">
                            <span>$180</span>
                        </div>

                        <div class="descuento-producto">
                            <span>20% OFF</span>
                        </div>
                    </div>

                    <div class="descripcion-producto">
                        <a href="">Ir al producto</a>
                    </div>
                </a>
            </div>
            <!-- Tercer celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                    <div class="conteiner-imagen-producto">
                        <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                    </div>

                    <div class="titulo-producto">
                        <h3>Redmi 10 - 2022</h3>
                    </div>

                    <div class="precio-descuento">

                        <div class="precio-producto">
                            <span>$180</span>
                        </div>

                        <div class="descuento-producto">
                            <span>20% OFF</span>
                        </div>
                    </div>

                    <div class="descripcion-producto">
                        <a href="">Ir al producto</a>
                    </div>
                </a>
            </div>

            <!-- Cuarto celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                    <div class="conteiner-imagen-producto">
                        <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                    </div>

                    <div class="titulo-producto">
                        <h3>Redmi 10 - 2022</h3>
                    </div>

                    <div class="precio-descuento">

                        <div class="precio-producto">
                            <span>$180</span>
                        </div>

                        <div class="descuento-producto">
                            <span>20% OFF</span>
                        </div>
                    </div>

                    <div class="descripcion-producto">
                        <a href="">Ir al producto</a>
                    </div>
                </a>
            </div>
            <!-- Quinto celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                    <div class="conteiner-imagen-producto">
                        <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                    </div>

                    <div class="titulo-producto">
                        <h3>Redmi 10 - 2022</h3>
                    </div>

                    <div class="precio-descuento">

                        <div class="precio-producto">
                            <span>$180</span>
                        </div>

                        <div class="descuento-producto">
                            <span>20% OFF</span>
                        </div>
                    </div>

                    <div class="descripcion-producto">
                        <a href="">Ir al producto</a>
                    </div>
                </a>
            </div>

            <!-- Sexto celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                    <div class="conteiner-imagen-producto">
                        <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                    </div>

                    <div class="titulo-producto">
                        <h3>Redmi 10 - 2022</h3>
                    </div>

                    <div class="precio-descuento">

                        <div class="precio-producto">
                            <span>$180</span>
                        </div>

                        <div class="descuento-producto">
                            <span>20% OFF</span>
                        </div>
                    </div>

                    <div class="descripcion-producto">
                        <a href="">Ir al producto</a>
                    </div>
                </a>
            </div>
            </div>
        </section>
    </main>
</body>

</html>