<%- include("../partials/head", {
    stylePag: "listaDeProducto", title: "Lista de Producto"
}) %>

<body>
    <!-- Header - Inicio -->
   <%- include("../partials/header") %>
   <!-- Header - Fin-->

    <!-- Seccion de header -->
    <section>
        <div class="conteiner-h1">
            <h1>Celulares</h1>
        </div>
    </section>
    
    <div class="filtro">
        <form>
            <label>Buscar</label>
            <input type="search" placeholder="Escribe aqui"></input>
            <label>Filtrar por</label>
            <select class="filtrar-por" name="fitro">
                <option value="menor-precio">Menor precio</option>
                <option value="mayor-precio">Mayor precio</option>
                <option value="A-Z">A-Z</option>
                <option value="Z-A">Z-A</option>
            </select>
        </form>
    </div>
    <main>
    <!-- Seccion de producto -->
        <section class="productos">
            <!-- Primer celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                <div class="conteiner-imagen-producto">
                   <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                </div>

                <div class="titulo-producto">
                    <h3>Redmi 10 - 2022</h3>
                </div>

                <div class="precio-descuento">
                    
                    <div class="precio-producto">
                        <span>$180</span>
                    </div>
    
                    <div class="descuento-producto">
                        <span>20% OFF</span>
                    </div>
                </div>

                <div class="descripcion-producto">
                    <button> Editar <i class="fa-regular fa-pen-to-square"></i> </button>
                    
                </div>
            </a>
            </div>
            <!-- Segundo celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                <div class="conteiner-imagen-producto">
                   <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                </div>

                <div class="titulo-producto">
                    <h3>Redmi 10 - 2022</h3>
                </div>

                <div class="precio-descuento">
                    
                    <div class="precio-producto">
                        <span>$180</span>
                    </div>
    
                    <div class="descuento-producto">
                        <span>20% OFF</span>
                    </div>
                </div>

                <div class="descripcion-producto">
                    <button> Editar <i class="fa-regular fa-pen-to-square"></i> </button>
                </div>
            </a>
            </div>
            <!-- Tercer celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                <div class="conteiner-imagen-producto">
                   <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                </div>

                <div class="titulo-producto">
                    <h3>Redmi 10 - 2022</h3>
                </div>

                <div class="precio-descuento">
                    
                    <div class="precio-producto">
                        <span>$180</span>
                    </div>
    
                    <div class="descuento-producto">
                        <span>20% OFF</span>
                    </div>
                </div>

                <div class="descripcion-producto">
                    <button> Editar <i class="fa-regular fa-pen-to-square"></i> </button>
                    
                </div>
            </a>
             </div>
              
             <!-- Cuarto celular -->
             <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                <div class="conteiner-imagen-producto">
                   <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                </div>

                <div class="titulo-producto">
                    <h3>Redmi 10 - 2022</h3>
                </div>

                <div class="precio-descuento">
                    
                    <div class="precio-producto">
                        <span>$180</span>
                    </div>
    
                    <div class="descuento-producto">
                        <span>20% OFF</span>
                    </div>
                </div>

                <div class="descripcion-producto">
                    <button> Editar <i class="fa-regular fa-pen-to-square"></i> </button>
                   
                </div>
            </a>
            </div>
              <!-- Quinto celular -->
              <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                <div class="conteiner-imagen-producto">
                   <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                </div>

                <div class="titulo-producto">
                    <h3>Redmi 10 - 2022</h3>
                </div>

                <div class="precio-descuento">
                    
                    <div class="precio-producto">
                        <span>$180</span>
                    </div>
    
                    <div class="descuento-producto">
                        <span>20% OFF</span>
                    </div>
                </div>

                <div class="descripcion-producto">
                    <button> Editar <i class="fa-regular fa-pen-to-square"></i> </button>
                    
                </div>
            </a>
             </div>

               <!-- Sexto celular -->
            <div class="conteiner-producto">
                <a class="enlace_producto" href="">
                <div class="conteiner-imagen-producto">
                   <img src="/images/redmi-10-2022-carbon-gray-4gb-ram-128gb-rom (5).jpg" alt="Redmi10">
                </div>

                <div class="titulo-producto">
                    <h3>Redmi 10 - 2022</h3>
                </div>

                <div class="precio-descuento">
                    
                    <div class="precio-producto">
                        <span>$180</span>
                    </div>
    
                    <div class="descuento-producto">
                        <span>20% OFF</span>
                    </div>
                </div>

                <div class="descripcion-producto">
                    <button> Editar <i class="fa-regular fa-pen-to-square"></i> </button>
                    
                </div>
            </a>
             </div>
            </div>
        </section>
    </main>

  <!-- Footer - Inicio -->
  <%- include("../partials/footer") %>
  <!-- Footer - Fin -->