<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css"> <!-- Etiqueta de Estilos Footer-->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!--Etiqueta Normalize CSS-->
    <link rel="stylesheet" href="/css/styles.css"> <!--Etiqueta de conexión a Estilos Generales-->
    <link rel="stylesheet" href="/css/header.css"> <!--Etiqueta de conexion con el Header-->
    <script src="https://kit.fontawesome.com/e49cfd628c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/<%= locals.stylePag %>.css">

    <title><%= locals.title %></title>
</head>