  <header class="main-header">
    <div class="encabezado">
      <p>Realizá compras en nuestras tienda online, recibí promociones y novedades <a href="/user/register"
          style="color:blue;">¡Registrate!</a></p>
    </div>
    <div class="header-top-bar">
      <div class="logo-search-container">
        <div class="logo">
          <a href="/"><img src="/images/Logo_Blanco.png" alt="MiTechStore"></a>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="¿Que producto buscas?">
          <button class=><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <nav class="opciones">
          <ul>
            <li class="main-header-navbar-element"><a href="#"><i class="fa-brands fa-whatsapp"></i> +573006698669
              </a></li>
            <li class="main-header-navbar-element"><a href="/user/login">Ingresar</a></li>
            <li class="main-header-navbar-element"><a href="/product/cart">Carrito <i
                  class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="main-header-navbar-element"><a href="/admin/createproduct">Crear producto <i
                  class="fa-solid fa-square-plus"></i></a></li>
          </ul>
        </nav>
      </div>
      <div class="ad-text">
        <p>Realizá compras en nuestras tienda online, recibí promociones y novedades ¡Registrate!</p>
      </div>
      <div class="burguer-menu">
        <button><i class="fas fa-bars"></i></button>
      </div>
    </div>
    </div>
    <nav class="categorias-navbar">
      <ul>
        <a href=""><li class="categoria">Computadoras
        </li></a>
        <a href=""><li class="categoria">Celulares
        </li></a>
        <a href=""><li class="categoria">Accesorios
        </li></a>
        <a href=""><li class="categoria">Electrodomésticos
        </li></a>
      </ul>
    </nav>
  </header>
