<%- include("../partials/head", { stylePag: "register" , title: "Registro" }) %>


  <body>
    <!-- Header - Inicio -->
    <%- include("../partials/header") %>
      <!-- Header - Fin-->

      <!--Contenido HTML de Registro - Inicio -->
      <main>
        <h3>Crear cuenta</h3>
        <form class="formulario-registro" action="/user/" method="POST" enctype="multipart/form-data">
          <input class="input" type="text" placeholder="Nombre" name="first_name" required>
          <input class="input" type="text" placeholder="Apellido" name="last_name" required>
          <input class="input" type="email" placeholder="Correo electrónico" name="email" required>          
          <input class="input" type="password" placeholder="Contraseña" name="password" required>          
          <input class="input" type="number" placeholder="Número de teléfono" name="phone">
          <br>

          <div class="perfil-label">
            <label>Seleccione una imagen de perfil</label>
          </div>
          <div class="avatar">
            <input type="file" name="avatar" accept=".jpg,.png,.jpeg">
          </div>

          <div class="perfil-label">
            <label>Perfil del usuario</label>
          </div>
          <div class="perfil">
            <div>
              <input id="comprador" type="radio" name="userprofile" value="comprador" checked>
              <label for="comprador">Comprador</label>
            </div>
            <div>
              <input id="vendedor" type="radio" name="userprofile" value="vendedor">
              <label for="vendedor">Vendedor</label>
            </div>

          </div>
          <div class="pais">
            <label for="paises">Seleccione su pais </label>
            <select id="paises" name="country">
              <option value="arg">Argentina</option>
              <option value="bol">Bolivia</option>
              <option value="bra">Brasil</option>
              <option value="chi">Chile</option>
              <option value="col">Colombia</option>
              <option value="ecu">Ecuador</option>
              <option value="par">Paraguay</option>
              <option value="per">Perú</option>
              <option value="uru">Uruguay</option>
              <option value="ven">Venezuela</option>
            </select>
          </div>
          <input class="input" type="text" placeholder="Provincia / Región" name="region" required>
          <input class="input" type="text" placeholder="Ciudad" name="city" required>
          <input class="input" type="number" placeholder="Código postal" name="zip" required>
          <input class="input" type="text" placeholder="Dirección" name="address" required>
          <div id="create-account-button">
            <button class="reset" type="reset">Borrar</button>
            <button type="submit">Crear</button>
          </div>
        </form>
        <div class="link-inicio-sesion">
          <a href="/user/login">¿Ya tienes una cuenta? Inicia sesión aquí</a>
        </div>
      </main>
      <!--Contenido HTML del Registro - Fin -->

      <!-- Footer - Inicio -->
      <%- include("../partials/footer") %>
        <!-- Footer - Fin -->