.card-container {
    display: flex;
}

.card {    
    width: 200px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 5px 10px #888888;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.card-row {
    display: flex;
    align-items: stretch;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.card .card-title {
    font-size: 1.3em;
    font-weight: 500;
}

.card .card-icon img {
    width: 40px;
}

.card .card-count {
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    padding: 15px 0px;
}